// =============================================================================
// Buttons
// =============================================================================

.btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 18px 35px;
	min-width: 200px;
	border: 3px solid white;
	border-radius: 15px;
	color: white;
	background: #4aa3a7; /* Old browsers */
	background: -moz-linear-gradient(top, #4aa3a7 0%, #85c9cc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4aa3a7 0%,#85c9cc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4aa3a7 0%,#85c9cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aa3a7', endColorstr='#85c9cc',GradientType=0 ); /* IE6-9 */
	font-family: font-stack(body);
	font-size: font-scale(body, 4);
	font-weight: 400;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	// letter-spacing: 0.1rem;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
	cursor: pointer;

	&:hover, &:focus {
		outline: 0;
		text-decoration: none;
		color: white;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
	}
}
.btn-right {
	float: right;
}
.btn-arrow {
	border-radius: 100px;
	display: inline-block;
	box-sizing: border-box;
	margin: 0 15px 0 0;
	text-align: center;
	width: 80px;
	border: 3px solid white;
	color: white;
	background: #4aa3a7; /* Old browsers */
	background: -moz-linear-gradient(top, #4aa3a7 0%, #85c9cc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4aa3a7 0%,#85c9cc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4aa3a7 0%,#85c9cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aa3a7', endColorstr='#85c9cc',GradientType=0 ); /* IE6-9 */
	font-family: font-stack(body);
	font-size: font-scale(body, 4);
	font-weight: 400;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	// letter-spacing: 0.1rem;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
	cursor: pointer;

	&:hover, &:focus {
		outline: 0;
		text-decoration: none;
		color: white;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
	}
	&--prev {
		padding: 16px 6px 20px 0;
	}
	&--next {
		padding: 16px 0 20px 6px;
	}
}
.btn-faded {
	background: #c7dddf;
}
.btn-close {
	display: inline-block;
	box-sizing: border-box;
	padding: 12px 15px;
	min-width: 30px;
	border: 3px solid white;
	border-radius: 15px;
	color: white;
	background: #4aa3a7; /* Old browsers */
	background: -moz-linear-gradient(top, #4aa3a7 0%, #85c9cc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4aa3a7 0%,#85c9cc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4aa3a7 0%,#85c9cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aa3a7', endColorstr='#85c9cc',GradientType=0 ); /* IE6-9 */
	font-family: font-stack(body);
	font-size: font-scale(body, 4);
	font-weight: 400;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	// letter-spacing: 0.1rem;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
	cursor: pointer;

	&:hover, &:focus {
		outline: 0;
		text-decoration: none;
		color: white;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
	}
}
