// =============================================================================
// Header
// =============================================================================

.test {
	z-index: z-scale(modal);
}

[role=banner] {
	display: flex;
	align-items: center;
	height: 15vh;
	padding: 30px;

	.logo {
		img {
			height: 50px;
		}
	}
	.slogan {
		margin-left: auto;
		img {
			width: 200px;
		}
	}
}
