// =============================================================================
// Wrappers
// =============================================================================

.wrapper {
	max-width: map-get($grid-breakpoints, md);
	margin: 0 auto;
	padding: 0 $spacing;
}

.main-content {
	width: calc(100vw - 60px);
	height: calc(85vh - 30px);
	margin: 0 30px 30px 30px;
	position: relative;

	&--inner {
		height: 100%;
		border-radius: 20px;
		padding: 30px;
		background: #939697; /* Old browsers */
		background: -moz-linear-gradient(top, #eeefef 0%, #939697 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #eeefef 0%,#939697 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #eeefef 0%,#939697 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeefef', endColorstr='#939697',GradientType=0 ); /* IE6-9 */

		.row, .col-6 {
			display: flex;
			align-items: center;
			height: 100%;
		}
		.content {
			display: block;
			flex-direction: column;
		}
		.content-footer {
			position: absolute;
			font-size: 75%;
			bottom: 0px;
			left: 0;
			width: 100%;
		}
		.questions {
			padding: 0 15px;

			.btn {
				width: 100%;
				margin-bottom: 20px;
				padding: 18px 30px;
			}
		}
		.questions-content-footer {
			position: absolute;
			bottom: 10px;
			left: 40px;
		}
		.questions-buttons {
			position: absolute;
			bottom: 15px;
			right: 40px;
		}
		.results-inner {
			background: white;
			margin: 0 0 15px 0;
			padding: 15px;
			height: calc(100% - 80px);

			.title {
				h2 {
					width: 64%;
					float: left;
				}
			}
		}
	}
}


