// =============================================================================
// Forms
// =============================================================================
.field-row {
	display: flex;
	align-items: center;
	color: #174895;
	font-size: font-scale(body, 4);
	margin-bottom: 30px;

	.field-label {
		padding: 0 15px;
	}

	.field-input {
		width: 100%;
	}

	.checkbox {
		padding: 0 15px;
		width: 20px;
		float: left;
	}
	.checkbox-label {
		padding: 0 15px 0 35px;
	}

}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	height: 70px;
	padding: 10px 10px;
	background-color: #fff;
	border: 1px solid #D1D1D1;
	border-radius: 8px;
	box-shadow: none;
	box-sizing: border-box;
	width: 100%;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
}

textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border: 1px solid get-color(neutral, dark);
	outline: 0;
}

label {
	float: left;
    width: 120px;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: block;
	padding: $spacing-s $spacing;
	margin: .5em 0;
	background: get-color(brand, primary);
	color: #fff;
	border-radius: $border-radius;
	transition: (all 0.2s linear);
	border: 0;
}

input[type="submit"].center,
input[type="reset"].center,
input[type="button"].center {
	margin: 0 auto;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	background: get-color(neutral, base);
	text-decoration: none;
	color: #fff;
}

 .required {
	 color: #BF5D58;
 }


 /* The container */
.container {
    display: block;
    position: relative;
	padding-left: 85px;
	padding-top: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 15px;
    height: 55px;
	width: 55px;
	border-radius: 60px;
	background: radial-gradient(at 0% 0%, #ececec, #dadbdb, #bebbbd);
	border: 10px solid white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0px;
    top: 0px;
    width: 35px;
    height: 35px;
    background: radial-gradient(at 0% 0%, #b1dbdc, #5dadaf, #173a3b);
    border-radius: 60px;
}