// =============================================================================
// Headings
// =============================================================================

h1, h2, h3, h4, h5, h6 {
    font-family: font-stack(body);
    color: white;
    text-rendering: optimizelegibility;
	margin-bottom: .7em;
    margin-top: 0;
    line-height: 1;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6, * + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6 {
	margin-top: 1.4em;
}

h1, .h1 { font-size: font-scale(display, 8);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-weight: font-weight(bold);}
h2, .h2 { font-size: font-scale(display, 5);
    color: #174895;
    font-weight: font-weight(normal);
    line-height: 1.2; }
h3, .h3 { font-size: font-scale(display, 2); }
h4, .h4 { font-size: font-scale(display, 1); }
h5, .h5 { font-size: font-scale(display, 1); }
h6, .h6 { font-size: font-scale(display, 1); }

@include media-breakpoint-up(md) {
    h1 { font-size: font-scale(display, 8); }
    h2 { font-size: font-scale(display, 5); }
    h3 { font-size: font-scale(display, 4); }
    h4 { font-size: font-scale(display, 3); }
    h5 { font-size: font-scale(display, 2); }
    h6 { font-size: font-scale(display, 1); }
}
