// =============================================================================
// Page
// =============================================================================

body {
	background-color: get-color(background, base);
	color: black;
	font-family: font-stack(body);
	font-size: font-scale(body, 1);
	line-height: 1.2;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@include media-breakpoint-up(md) {
	body { font-size: font-scale(body, 1); }
}

.bkg-home {
	position: absolute;
	width: 100%;
    height: 100%;
    left: 0;
	top: 0;
	border-radius: 20px;
	background-image: url("../images/home-background.png");
	background-size: 100%;
}
